@import 'mixins.less';
@import 'colors.less';
@import "fonts.less";

.aboutContainer {
    .flex-display();
    height: 100%;
    background-color: #000;
}

.leftContainer {
    .flex(1);
    background: url(/images/seanchen_stone.jpg) no-repeat fixed;
    background-size: 70%;
    background-position: -250px -20px;
}

.rightContainer {
    .flex(1);
    .pushed;
    .box-sizing(border-box);
    height: auto;
    padding: 10px 20px 10px 50px;
    background-color: #000;
    color: #d5d5d5;
    overflow-y: scroll;
    box-shadow: 0 0 150px 80px #000;

    p {
        font-family: @lato0;
        font-size: 19px;
        margin: 21px 0 21px 0;
        line-height: 2.2em;
    }
}

.firstLetter {
    display: block;
    float: left;
    font-family: @lato1;
    font-size: 68px;
    margin-left: -6px;
}