@import 'mixins.less';
@import 'colors.less';
@import "fonts.less";

.aboutContainer {
    display: flex;
    background-color: #000;
}

.leftContainer {
    flex: 1;
    background: url(/images/seanchen_stone.jpg) no-repeat center center fixed;
    background-size: 70%;
    background-position: -250px -20px;
}

.rightContainer {
    flex: 1;
    padding: 90px 50px;
    background-color: #000;
    font-family: @latoLatinThin;
    line-height: 21px;
    color: @logo-blue;
    box-shadow: -67px 0 152px -8px #000;
}