@import 'colors.less';

html {
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0px;
    height: 100%;
    background-color: #000;
}

#hero-container {
    height: 100%;
}

#router {
    display: none;
}

.appContainer {
    height: 100%;
    width: 100%;
}

.container {
    position: absolute;
    top: 0;
    left: 0;
}

a {
    color: @logo-blue;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.5s;

    &:hover {
        color: @logo-blue - #444;
    }
}
