@lato0: 'LatoHairline', sans-serif;
@lato1: 'LatoThin', sans-serif;
@lato2: 'LatoLight', sans-serif;
@lato3: 'LatoRegular', sans-serif;
@lato4: 'LatoMedium', sans-serif;
@lato5: 'LatoSemibold', sans-serif;
@lato6: 'LatoBold', sans-serif;
@lato7: 'LatoHeavy', sans-serif;
@lato8: 'LatoBlack', sans-serif;

@lato0i: 'LatoHairlineItalic', sans-serif;
@lato1i: 'LatoThinItalic', sans-serif;
@lato2i: 'LatoLightItalic', sans-serif;
@lato3i: 'LatoRegularItalic', sans-serif;
@lato4i: 'LatoMediumItalic', sans-serif;
@lato5i: 'LatoSemiboldItalic', sans-serif;
@lato6i: 'LatoBoldItalic', sans-serif;
@lato7i: 'LatoHeavyItalic', sans-serif;
@lato8i: 'LatoBlackItalic', sans-serif;