@import 'elements.less';
@import 'flex.less';

.center-children() {
    .flex-display();
    .justify-content(center);
    .align-items(center);
}

.hdpi(@props) {
    @media only screen and (-webkit-min-device-pixel-ratio: 1.3),
        only screen and (-o-min-device-pixel-ratio: 13/10),
        only screen and (min-resolution: 120dpi) {
            @props();
        }
}

.pushed() {
    margin-top: 80px;
    .hdpi({
        margin-top: 60px;
    })
}

.link(@color) {
    color: @color;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.5s;
    &:hover {
        color: @color - #444;
    }
}

.filter(@params) {
    -webkit-filter: @params;
    filter: @params;
}