@import "fonts.less";
@import "mixins.less";
@import "colors.less";

.navBarLogo {
    .hdpi({
        font-size: 35px;
    });
    font-family: @lato1;
    font-size: 40px;
    letter-spacing: 0.1em;
    height: 100%;
    color: @logo-blue;
}

.navBarLogoText {
    display: inline-block;
    margin-left: 15px;
    vertical-align: middle;
}