@import "fonts.less";
@import "mixins.less";
@import "colors.less";

.navBarLinks {
    ul {
        margin: 0;
    }
}

.navBarLink {
    font-family: @latoLatinThin;
    font-size: 20px;
    .hdpi({
        font-size: 16px;
    });
    letter-spacing: 0em;
    display: inline-block;
    margin-right: 18px;

    &:last-child {
        margin-right: 0;
    }

    a {
        color: @logo-blue;
        text-decoration: none;
        cursor: pointer;
        transition: color 0.5s;

        &:hover, &.active {
            color: @logo-blue - #444;
        }
    }
}