@import (reference) "mixins.less";
@import (reference) "colors.less";

.font-logo {
    .include-font('LatoLatinWebThin', 'LatoLatin-Thin', 700, normal);
    font-family: 'LatoLatinWebThin';
    font-size: 2.5em;
    letter-spacing: 0.1em;
}

.navBarLogo {
    .font-logo;
    height: 100%;
    color: @logo-blue;
}

.navBarLogoText {
    display: inline-block;
    margin-left: 15px;
}