@import "fonts.less";
@import "mixins.less";
@import "colors.less";
@import "variables.less";

@navbar-margin-top: 18px;
@navbar-margin-top-hdpi: 12px;

.navBarLinks {
    ul {
        .hdpi({
            margin-top: @navbar-margin-top-hdpi;
        });
        padding: 0;
        margin: 0;
    }
}

.navBarLink {
    position: relative;
    font-family: @lato1;
    font-size: 20px;
    .hdpi({
        font-size: 16px;
    });
    letter-spacing: 0em;
    display: inline-block;
    margin-right: 2px;
    vertical-align: middle;

    &:last-child {
        margin-right: 0;
    }

    a {
        color: @logo-blue;
        text-decoration: none;
        cursor: pointer;

        div {
            .transition(all 0.2s);
            .hdpi({
                height: @navbarHeightHDPI - @navbar-margin-top-hdpi;
            });
            height: @navbarHeight;
            padding: 20px 8px 0 8px;
        }

        &:hover {
            color: @logo-blue + #444;
        }

        &.active div {
            color: #fff;
        }
        
        .highlight {
            padding: 0;
            margin: 0;
            position: absolute;
            width: 100%;
            height: 0%;
            z-index: -1;
            background-color: @highlight;
            transform: translate3d(0, 0, 0);
            
            &.active {
                height: 100%;
            }
        }
        
        .hyperlink {
            float: left;
        }
    }
}