@import 'mixins.less';

.schedule {
    .pushed;
    width: 100%;
    margin: auto;
    padding: 0 50px;
    height: 100%;
    box-sizing: border-box;
}

.schedule__events {
    max-width: 800px;
    height: 100%;
    width: 50%;
    display: inline-block;
}

.schedule__calendar {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    text-align: right;
}
