@navbarHeight: 80px;
@navbarHeightHDPI: 50px;

@playlistWidth: 550px;
@playlistTogglerWidth: 20px;
@playlistPadding: 10px;

@playlistBackground: rgb(248, 248, 248);
//@playlistBackground: rgba(0, 0, 0, 0.7);