@import 'variables.less';

.videoPlaylist {
    box-sizing: content-box;
    position: fixed;
    height: 100%;
    right: 0;
    padding-left: @playlistPadding;
    overflow-y: auto;
    background-color: @playlistBackground;

    ul {
        padding: 0;
        margin: 0;
        width: @playlistWidth;
    }

    .videoPlaylistItem {
        list-style: none;
        cursor: pointer;

        &:not(:first-child) {
            margin-top: 10px;
        }

        img {
            max-width: 100%;
        }
    }
}