@import '../../mixins.less';
@import '../../fonts.less';

.audioInfoContainer {
    width: 75%;
    height: 100%;
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    .flex-display();
    .flex-direction(column);
    .justify-content(flex-end);
    .align-items(center);

    font-family: @lato1;
    letter-spacing: 2px;
    color: #FFFFFF;
    padding-bottom: 50px;
}

.audioInfo {
    padding: 0 10px;
    line-height: 1.5em;

    &.composer-title {
        font-size: 30px;
    }

    &.contributing, &.duration {
        font-size: 24px;
    }
}