{
    "env": {
        "production": {
            "plugins": [
                ["emotion", {
                    "sourceMap": false,
                    "hoist": true
                }]
            ]
        },
        "development": {
            "plugins": [
                ["emotion", {
                    "sourceMap": true,
                    "hoist": true,
                    "autoLabel": true
                }]
            ]
        }
    }
}
