{
    "env": {
        "production": {
            "plugins": [["emotion", { "sourceMap": false }]]
        },
        "development": {
            "plugins": [["emotion", { "sourceMap": true }]]
        }
    }
}
