{
    "parser": "babel-eslint",
    "parserOptions": {
        "sourceType": "module",
        "ecmaVersion": 6,
        "ecmaFeatures": {
            "jsx": true,
            "experimentalObjectRestSpread ": true,
            "arrowFunctions": true
        }
    },
    "env": {
        "node": true,
        "es6": true
    }
}