.DS_Store
.env
.happypack
.cache-loader
.resized-cache
.htaccess
.vscode
*.BASE
*.LOCAL
*.orig
*.REMOTE
*.sublime-project
*.sublime-workspace
coverage/
node_modules
nohup.out
npm-debug.log
secret.ts
web/build/
web/assets/music/
server/build/
server/gapi-key.json
yarn-error.log
sslcert/
pm2.json
*.sql
