.DS_Store
.env
.happypack
.htaccess
.vscode
*.BASE
*.LOCAL
*.orig
*.REMOTE
*.sublime-project
*.sublime-workspace
coverage/
node_modules
npm-debug.log
scripts/cpp/Eigen
secret.js
web/build/
server/build/