.DS_Store
.env
.happypack
.htaccess
.vscode
*.BASE
*.LOCAL
*.orig
*.REMOTE
*.sublime-project
*.sublime-workspace
coverage/
node_modules
nohup.out
npm-debug.log
scripts/cpp/Eigen
secret.ts
web/build/
server/build/
server/gapi-key.json
yarn-error.log
