<!DOCTYPE html>
<html>
  <head>
      <title>Sean Chen: Pianist, Composer, Arranger</title>
      <link rel="icon" type="image/png" href="/static/images/favicon.png">
      <meta charset="UTF-8">
      <meta name="description" content="The official website of pianist, composer, arranger Sean Chen.">
      <meta name="keywords" content="piano,pianist,music,composer,arranger,performer,artist">
      <meta name="viewport" content="width=device-width">
  </head>
  <body>
    <div id="hero-container"></div>
    <script src="/static/sycpiano.common.js"></script>
    <script src="/static/sycpiano.bundle.js"></script>
  </body>
</html>
