<!DOCTYPE html>
<html>

<head>
  <title>Sean Chen: Pianist, Composer, Arranger</title>
  <link rel="icon" type="image/png" href="/static/images/favicon.png">
  <meta charset="UTF-8">
  <meta name="keywords" content="piano,pianist,music,composer,arranger,performer,artist">
  <meta name="viewport" content="width=device-width">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@seanchenpiano">
  <meta name="twitter:title" content="{{ twitter.title }}">
  <meta name="twitter:description" content="{{ twitter.description }}">
  <meta name="twitter:image" content="{{ twitter.image }}">
  <meta property="og:type" content="website" />
  <meta property="fb:app_id" content="220782935180593" />
  <meta property="og:title" content="{{ facebook.title }}">
  <meta property="og:description" content="{{ facebook.description }}">
  <meta property="og:image:url" content="{{ facebook.image }}">
  <meta property="og:image:secure_url" content="{{ facebook.secure_image }}">
  <meta property="og:image:type" content="image/jpeg">
  <meta property="og:url" content="{{ facebook.url }}">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-21471649-2"></script>
  <script src="https://js.stripe.com/v3/"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-21471649-2', { 'anonymize_ip': true });
  </script>
</head>

<body>
  <div id="hero-container"></div>
</body>

</html>