@import '../colors.less';
@import '../fonts.less';
@import '../mixins.less';

@date-container-dimension: 107px;

.event-item {
    padding: 30px 0 30px 30px;
    font-family: @lato1;
    align-items: top;
    color: black;
    transition: 0.2s all;

    width: 80%;
    max-width: 1240px;
    margin: 0 auto;

    // &.active {
    //     background-color: @light-blue;
    //     color: #FFFFFF;
    //     .event-item__date {
    //         background-color: white;
    //         color: @light-blue;
    //         font-weight: bold;
    //     }
    // }
}

a:hover {
    .event-item {
         &:not(.active) {
            color: @light-blue;
        }
    }
}

.event-item__date {
    text-align: center;
    background-color: @light-blue;
    color: white;
    height: @date-container-dimension;
    width: @date-container-dimension;
    line-height: 43px;
    border-radius: 50%;
    padding: 12px;
}

.event-item__day {
    font-size: 35px;
}

.event-item__day-of-week {
    font-size: 20px;
}

.event-item__info {
    padding: 0 0 0 35px;
}

.event-item__info-name {
    font-size: 35px;
    margin-bottom: 8px;
}

.event-item__info-other {
    font-size: 20px;
    // font-weight: bold;
}

.event-item__info-time {
    font-size: 20px;
    margin-bottom: 10px;
}

.event-item__info-program {
    list-style: none;
    padding: 0;
}

.event-item__info-collaborators {
    list-style: none;
    padding: 0;
}

.buy-tickets {
    margin-top: 25px;
    font-size: 20px;
    // background-color: #DC9E82;
    // color: #F15A22;
    color: #57003a;
    width: 150px;
    padding: 10px;
    text-align: center;
    // border: 2px solid #F15A22;
    border: 2px solid #57003a;
    border-radius: 4px;
    transition: background-color 0.2s;

    &:hover {
        // background-color: #4E86A4;
        // background-color: #F15A22;
        background-color: #57003a;
        color: #fff;
    }
}

.social-media {
    margin-top: 25px;
}

.social-media-container {
    width: 180px;
}

.social-media-item-container {
    img {
        vertical-align: middle;
        .transition(all 0.2s);
        &:hover {
            .scale(1.2);
            cursor: pointer;
        }
    }
}
