@import '../colors.less';
@import '../fonts.less';

@marker-dimension: 50px;

.event-details {
    font-family: @lato1;
}

.event-details__name {
    padding-bottom: 5px;
    border-bottom: 1px solid #c3c3c3;
}

.collaborator {
}

.event-map {
    height: 300px;
    margin: 25px 0 0;
}
