@import '../flex.less';

.eventDetailsContentRow {
    .flex-display();
    .align-items(center);

    padding: 5px 0;
}

.eventDetailsContentRow__left {
    .flex(0 0 15%);
}

.eventDetailsContentRow__right {
    .flex(1);

    .content {
        font-size: 18px;
        text-align: left;
        padding-left: 10px;
    }
}
