@import '../colors.less';
@import '../fonts.less';
@import '../mixins.less';
@date-container-dimension: 107px;
.event-item {
    padding: 30px 0 30px 30px;
    display: flex;
    font-family: @lato1;
    align-items: center;
    color: black;
    transition: 0.2s all;
    &.active {
        background-color: @light-blue;
        color: #FFFFFF;
        .event-item__date {
            background-color: white;
            color: @light-blue;
            font-weight: bold;
        }
    }
}

a:hover {
    .event-item {
         &:not(.active) {
            color: @light-blue;
        }
    }
}

.event-item__date-container {
    flex: 0 0 100px;
}

.event-item__date {
    text-align: center;
    background-color: @light-blue;
    color: white;
    height: @date-container-dimension;
    width: @date-container-dimension;
    line-height: 43px;
    border-radius: 50%;
    padding: 12px;
}

.event-item__day {
    font-size: 35px;
}

.event-item__day-of-week {
    font-size: 20px;
}

.event-item__info {
    flex: 1 1 auto;
    padding: 0 0 0 35px;
}

.event-item__info-name {
    font-size: 35px;
    margin-bottom: 8px;
}

.event-item__info-type {
    font-size: 20px;
    font-weight: bold;
}

.event-item__info-time {
    font-size: 20px;
    margin-bottom: 10px;
}

.event-item__info-program {
    list-style: none;
    padding: 0;
}

.event-item__info-collaborators {
    list-style: none;
    padding: 0;
}