@import '../colors.less';
@import '../fonts.less';

@marker-dimension: 50px;

.event-details {
    font-family: @lato1;
}

.event-details__name {
    padding-bottom: 5px;
    border-bottom: 1px solid #c3c3c3;
}

.collaborator {
}

.event-map {
    height: 300px;
    margin: 25px 0 0;
}

.date-icon {
    fill: @light-blue;
    stroke: black;
    width: 120px;
    height: 120px;

    rect.active {
        fill: @light-blue;
    }
    rect.inactive {
        fill: #eeeeee;
    }
}

.location-icon {
    fill: white;
    stroke: #000;
    width: 120px;
    height: 120px;
}

#location-icon-marker-part {
    fill: @light-blue;
    stroke: @light-blue;
}

.clock-icon {
    width: 120px;
    height: 120px;

    #clock-border {
        stroke: #000;
        stroke-width: 2px;
    }

    #hour-hand, #minute-hand {
        stroke: @light-blue;
        stroke-width: 8px;
        stroke-linecap: round;
    }

    .dots {
        fill: @light-blue;
    }
}