@import '../mixins.less';

.schedule {
    .pushed;
    width: 100%;
    box-sizing: border-box;
    .flex-display();
    .justify-content(space-between);
    .flex-wrap(wrap);
}

.schedule__events {
    .flex(1 0 350px);
    height: 100%;
    position: relative;
}

.schedule__event-details {
    .flex(1);
    background-color: #EBF2FA;
    padding: 15px 0 30px;
    text-align: center;
    overflow-y: scroll;
}
