@import '../../fonts.less';
@import '../../mixins.less';
@import '../../colors.less';
@import '../../variables.less';

// EXPERIMENTING WITH TEXT SPACING AND FONT AND LOGO SIZE

.navBarLogo {
    .hdpi({
        font-size: 35px;
    });
    font-family: @lato2;
    font-size: 40px;
    letter-spacing: 0.05em;
    height: 100%;
    color: @logo-blue;
    fill: @logo-blue;
    transition: all 0.3s;
    overflow: hidden;
    cursor: pointer;

    .flex-display(inline-flex);
    .align-items(center);

    svg {
        .hdpi({
            width: 90px;
            height: 90px;
        });
        width: 150px;
        height: 150px;
        float: left;
    }
}

.navBarLogoText {
    display: inline-block;
    margin-left: 20px;
    vertical-align: middle;
    .hdpi({
        line-height: @navbarHeightHDPI;
    });
    line-height: @navbarHeight;

    span {
        vertical-align: -3px;
    }
}
