@import "../../fonts.less";
@import "../../mixins.less";
@import "../../colors.less";
@import "../../variables.less";

@navbar-margin-top: 18px;
@navbar-margin-top-hdpi: 12px;

.navBarLinks {
    ul {
        padding: 0;
        margin: 0;
    }
}

.navBarLink {
    position: relative;
    font-family: @lato1;
    font-size: 22px;
    .hdpi({
        font-size: 16px;
    });
    letter-spacing: 0em;
    display: inline-block;
    margin-right: 2px;
    vertical-align: middle;

    &:last-child {
        margin-right: 0;
    }

    a {
        // color: @logo-blue;
        color: #000000;
        text-decoration: none;
        cursor: pointer;

        div {
            .transition(all 0.2s);
            .hdpi({
                height: @navbarHeightHDPI;
            });
            margin-top: @navbar-margin-top;
            height: @navbarHeight - @navbar-margin-top;
            padding: 20px 10px 0 10px;
        }

        &:hover {
            color: @logo-blue + #444;
        }

        &.active div {
            //color: #fff;
            color: @logo-blue;
        }

        .highlight {
            padding: 0;
            margin-top: @navbar-margin-top;
            position: absolute;
            width: 0%;
            height: 5px;
            z-index: -1;
            background-color: @light-blue;
            transform: translate3d(0, 0, 0);

            &.active {
                //height: @navbarHeight - @navbar-margin-top;
                //height: 10px;
                width: 100%
            }
        }

        .hyperlink {
            float: left;
        }
    }
}
