@import '../../variables.less';
@import '../../mixins.less';
@import '../../colors.less';

.subNav {
    z-index: 10;
    position: fixed;
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    overflow: hidden;
    border-right: @highlight 10px solid;
    display: none;
    transform-origin: top;

    .subNavLink {
        .transform(translateX(150px));
        a {
            width: 100%;
            height: 50px;
            display: inline-block;
            //display: none;
            padding: 10px;
            background-color: rgba(255, 255, 255, 0.5);
            //border-radius: 5px;

            &.active {
                background-color: @highlight;
            }
        }

        .mediaIcon {
            width: 100%;
            height: 100%;
            display: inline-block;
            background-size: contain;
            background-repeat: no-repeat;

            &.videos {
                background-image: url(/images/media-icons/videos.png);
            }

            &.music {
                background-image: url(/images/media-icons/music.png);
            }

            &.photos {
                background-image: url(/images/media-icons/photos.png);
            }
        }
    }
}
