.frontVideo-enter {
    opacity: 0;
}

.frontVideo-enter.frontVideo-enter-active {
    opacity: 1;
    transition: all 0.7s ease-out;
}

.frontVideo-leave {
    opacity: 1;
}

.frontVideo-leave.frontVideo-leave-active {
    opacity: 0;
    transition: all 0.7s ease-out;
}