@import '../fonts.less';
@import '../flex.less';
@import '../colors.less';
@import './text-input.less';
@import './constants.less';

.text-input(
    @lato2,
    @input-padding,
    @input-border-radius,
    @input-border-width,
    @admin-border-color
);

.AddEventForm {
    padding-top: 10px;
    margin: auto;
    font-family: @lato2;

    .AddEventForm__title {
        font-family: @lato3;
        text-align: center;
        font-size: 28px;
        margin-bottom: 18px;
    }

    .AddEventForm__inputs-container {
        .AddEventForm__event-info {
            max-width: 450px;
            margin: 0 auto;

            .AddEventForm__input {
                margin-bottom: @input-margin-bottom;
            }
        }
    }

    .AddEventForm__submit-button {
        margin: auto;
        width: 100%;
        max-width: 300px;
        font-size: 18px;
        padding: @input-padding;
    }
}


/*
THIRD-PARTY COMPONENTS
*/
.react-datepicker__input-container, .Select {
    margin-bottom: @input-margin-bottom;
}

.Select-control {
    position: static;
    border-radius: @input-border-radius;
    font-size: 18px;
    padding: @input-padding;
    font-family: @lato2;

    .Select-value, .Select-placeholder {
        position: static !important;
        padding: 0 !important;
        line-height: normal !important;
    }

    .Select-input {
        position: absolute;
        padding-left: 0;
        left: @input-padding-horizontal + @input-border-width;
        top: @input-padding-vertical / 2;
    }
}
