@import '../../variables.less';

.playlistToggler {
    @height: 30px;

    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    line-height: @height;
    height: @height;
    width: 20px;
    text-align: center;
    position: fixed;
    top: ~"calc(50% - "(@height / 2)~" + @{navbarHeight})";
    right: @playlistWidth;
    background-color: @playlistBackground;
    color: #000;
    cursor: pointer;
    z-index: 50;
}
