@import '../mixins.less';

.homeContainer {
    height: 100%;
    width: 100%;
    background: url(/images/syc_chair_bg_1920.jpg) no-repeat;
    background-size: 100%;
    background-position: 0px -200px
}